* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Global Reset*/

body {
    background-color: #e9e9e9;
    /*Background Color*/
}

.Logo {
    display: flex;
    justify-content: center;
    /*Center-align Logo*/
    margin: 20px 0;
}

li {
    font-family: "Josefin Sans", serif;
    /*Import font*/
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    margin-right: 45px;
    font-size: 34px;
}

ul {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Protest Guerrilla", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    text-align: left;
}

p {
    font-family: 'Josefin Sans', cursive;
    /*Font Import*/
    font-size: 24px;
    padding-left: 50px;
    padding-right: 25px;
}

.Boxed {
    border: 1px solid #000;
    /*Border*/
    padding: 80px;
    background-color: #fff;
    border-radius: 0;
    width: 90%;
    max-width: 1024px;
    margin: 100px auto;
    overflow: hidden;
}

h2,
h3,
h4 {
    font-family: "Protest Guerrilla", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    text-align: center;
}

p {
    font-size: 60px;
    margin: 12px 0;
    line-height: 1.5;

}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h5 {
    font-family: 'Protest Guerilla', cursive;
    font-size: 28px;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    width: 300px;
    height: 300px;
}

.profile {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-left: 400px;
}

.profile2 {
    display: none;
}

footer {
    background-color: #14181d;
    color: white;
    font-family: 'Josefin Sans', cursive;
    font-size: 22px;
    text-align: center;
    margin-top: -10px;
    padding: 50px 50px;
}

.author-header {
    padding-left: 200px;
    margin-left: -200px;
}


/*Media Queries*/

/*Mobile Media Query*/
@media (min-width: 360px) and (max-width: 540px) {
    .Logo img {
        width: 70px;
        margin-left: -25px;
    }

    .Boxed {
        width: 100vw;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 0;
        border-right: 0;
        margin: 10px 0;
        padding: 20px;
        box-sizing: border-box;
    }

    h1 {
        font-size: 40px;
        text-align: center;
    }

    .container img:nth-child(5) {
        display: none;
    }

    h2,
    h3,
    h4 {
        font-size: 24px;
        text-align: center;
    }

    h5 {
        font-size: 42px;
        text-align: center;
    }

    li {
        font-size: 14px;
        margin-right: 20px;
    }

    .Boxed p {
        font-size: 18px;
        margin: 0;
        text-align: left;
        padding-left: 0px;
        margin-top: 20px;

    }

    .album {
        width: calc(100% + 40px);
        margin: 0;
        margin-left: -20px;
        margin-bottom: 20px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .album img {
        width: 100%;
        height: auto;
        flex: 0 0 calc(50% - 10px);
        margin-left: -40px;
    }

    .author-content {
        position: relative;
        text-align: center;
        margin-top: 20px;
    }

    .profile {
        display: none;
    }

    .profile2 {
        display: block;
        width: 200px;
        border-radius: 50%;
        margin-left: 55px;
    }

    .author-text {
        margin-top: 60px;
    }

    .author-content p {
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
    }
}

/*Large Mobile Media Query*/
@media (min-width: 540px) and (max-width: 720px) {
    .Logo img {
        width: 90px;
    }

    .Boxed {
        margin: 0;
        border-left: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    h1 {
        font-size: 45px;
        text-align: center;
    }

    h2,
    h3,
    h4 {
        font-size: 38px;
    }

    li {
        font-size: 18px;
        margin: 0 20px;
        margin-bottom: 15px;
        margin-right: 35px;
    }

    p {
        font-size: 18px;
        margin: 20px 0;
    }

    .album {
        width: calc(100% + 40px);
        margin: 0;
        margin-left: -20px;
        margin-bottom: 20px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .album img {
        width: 100%;
        height: auto;
        flex: 0 0 calc(50% - 10px);
        margin-left: -40px;
    }

    .profile2 {
        display: block;
        width: 250px;
        margin-left: 120px;
    }

    .authortext {
        text-align: left;
    }
}

/*Tablet Media Query*/
@media (min-width: 720px) and (max-width: 1024px) {
    .Logo img {
        width: 85px;
    }

    .Boxed {
        border: 1px solid #000;
        padding: 20px;
        border-radius: 0;
        width: 90%;
        max-width: 500px;
        margin: 20px auto;
        overflow: hidden;
    }

    h1 {
        font-size: 45px;
        text-align: center;
    }

    h2,
    h3,
    h4 {
        font-size: 34px;
    }

    h5 {
        font-size: 34px;
    }

    .Boxed p {
        font-size: 18px;
        margin: 24px 0px;
        text-align: left;
        padding-left: 0px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        margin: 0;
    }

    .album {
        width: 120%;
        margin: 0;
        margin-left: -20px;
        height: auto;
    }

    .container img:nth-child(5) {
        display: none;
    }

    .author-container {
        max-width: 800px;
        margin: 40px auto;
    }

    .author-header {
        margin-bottom: 10px;
    }

    .author-content {
        display: flex;
        align-items: center;
    }

    .authortext {
        flex: 1;
    }

    .authortext p {
        line-height: 1.1;
    }

    .profile {
        max-width: 200px;
        height: auto;
        margin-left: 20px;
    }

    .profile2 {
        display: none;
    }

    footer {
        font-size: 18px;
        margin-left: 110px;
        margin-right: 110px;
        margin-top: -20px;
    }
}

/*Laptop Media Query*/
@media (min-width: 1024px) {
    .Logo img {
        width: 200px;
    }

    .Boxed {
        border: 1px solid #000;
        padding: 40px;
        border-radius: 0;
        width: 100%;
        max-width: 1024px;
        margin: 20px auto;
        overflow: hidden;
    }

    h1 {
        font-size: 42px;
        text-align: left;
        padding-left: 20px;
    }

    span {
        font-size: 90px;
    }

    h2,
    h3,
    h4 {
        font-size: 40px;
    }

    .header-text {
        font-size: 22px;
        margin: 50px 0;
        text-align: left;
        margin-top: -4px;
    }

    p {
        font-size: 22px;
        margin: 50px 0;
        text-align: left;
    }

    .other-text {
        display: inline-block;
    }

    li {
        font-size: 25px;
        margin-left: 60px;
        margin-right: 60px;
        padding-top: 20px;
    }

    .album {
        width: 55%;
        margin: 0 0px;
    }

    .profile {
        width: 200px;
        padding-bottom: 10px;
        margin-left: 20px;
    }

    .author-header {
        padding-bottom: 20px;
        margin-bottom: -35px;
        margin-left: 85px;
    }

    footer {
        font-size: 18px;
        margin-left: -180px;
        margin-right: -180px;
        margin-top: -20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}